= simple_form_for @race_car, :html => { :multipart => true } do |f|
  - if @race_car.errors.any?
    #error_explanation
      %h2= "#{pluralize(@race_car.errors.count, "error")} prohibited this race_car from being saved:"
      %ul
        - @race_car.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.input :start_no, label: "Start nr."
  %br
  .field
    = f.input :class_type, label: "Kører i klasse"
  %br
  .field
    = f.input :make, label: "Mærke"
  %br
  .field
    = f.input :model, label: "Model/variant"
  %br
  .field
    = f.input :year, label: "Årgang"
  %br
  .field
    = f.input :ccm, label: "Motorstørrelse (CCM)"
  %br
  .field
    = f.input :hp, label: "Hestekræfter"
  %br
  .field
    = f.input :acceleration, label: "0-100 (sek)"
  %br
  .field
    = f.input :description, label: "Beskrivelse af bilen"
  %br
  .field
    = f.input :picture, :required => false, :as => :file, label: "Billede af bil"
  %br
  = f.simple_fields_for :driver do |d|
    = d.input :id, as: :hidden
    .field
      =d.input :full_name, label: "Kører navn"
    %br
    .field
      =d.input :country, label: "Landekode", as: :text
    %br
    .field
      =d.input :profile_picture, :required => false, :as => :file, label: "Billede af kører"
  %br
  .actions
    = f.submit 'Gem', class: 'btn btn-primary'
