.row-fluid
  = smart_listing_controls_for(:race_cars) do
    .filter.input-append
      = text_field_tag :class_type, params[:class_type], class: "search", placeholder: "Søg på klasse", autocomplete: "off"
      = number_field_tag :start_no, params[:start_no], class: "search", placeholder: "Søg på start nr", autocomplete: "off"
      %button.btn.disabled{type: "submit"}
        %i.icon.icon-search
          Søg
      =link_to "nulstil", race_cars_path, class: "glyphicon glyphicon-repeat"
  - unless smart_listing.empty?
    %table.table.table-striped
      %thead
        %th.col-md-1= smart_listing.sortable "Stemmer", "votes"
        %th.col-md-2= "Billede"
        %th.col-md-1= smart_listing.sortable "Start nr", "start_no"
        %th.col-md-2= smart_listing.sortable "Klasse", "class_type"
        %th.col-md-2= smart_listing.sortable "Mærke", "make"
        %th.col-md-2= smart_listing.sortable "Model", "model"
        %th.col-md-1= smart_listing.sortable "Årgang", "year"
        %th.col-md-2= smart_listing.sortable "Motor CCM", "ccm"
        %th.col-md-2= smart_listing.sortable "Heste", "hp"
        %th.col-md-2= smart_listing.sortable "0-100", "acceleration"
      %tbody
        - smart_listing.collection.each do |race_car|
          %tr.clickable{:onclick => "location.href='#{race_car_path(race_car)}'"}
            %td= race_car.votes
            %td= image_tag race_car.picture.url(:thumb)
            %td= race_car.start_no
            %td= race_car.class_type
            %td= race_car.make
            %td= race_car.model
            %td= race_car.year
            %td= race_car.ccm
            %td= race_car.hp
            %td= race_car.acceleration
    -# Render nice pagination links fitted for Bootstrap 3 by default
    = smart_listing.paginate
    = smart_listing.pagination_per_page_links
  - else
    %p.warning No records!