%h1 Listing race_cars

%table
  %thead
    %tr
      %th Start no
      %th Class type
      %th Make
      %th Model
      %th Year
      %th Ccm
      %th Hp
      %th Description
      %th
      %th
      %th

  %tbody
    - @race_cars.each do |race_car|
      %tr
        %td= race_car.start_no
        %td= race_car.class_type
        %td= race_car.make
        %td= race_car.model
        %td= race_car.year
        %td= race_car.ccm
        %td= race_car.hp
        %td= race_car.description
        %td= link_to 'Show', race_car
        %td= link_to 'Edit', edit_race_car_path(race_car)
        %td= link_to 'Destroy', race_car, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Race car', new_race_car_path
