%p#notice= notice


.col-md-3
  %p
    = image_tag @race_car.picture.url(:large)
  %h1 
    = "Stemmer: "
    = @race_car.votes
    = link_to "Stem på start nr. #{@race_car.start_no}!", upvote_race_car_path(@race_car), class: 'btn btn-success'
  %p
    -if @your_vote
      = "Du har i øjeblikket stemt på start nr. "
      = link_to "#{@your_vote.start_no} I klasse #{@your_vote.class_type}", race_car_path(@your_vote.id)
    -else
      = "Du har endnu ikke stemt!"
  %p
    = social_share_button_tag("#{@race_car.driver.full_name} i sin seje: #{@race_car.make} #{@race_car.model}", url: race_car_url(@race_car.id), image: @race_car.picture.url(:large))
  %p
    %b Start nr.:
    = @race_car.start_no
  %p
    %b Kører i klasse:
    = @race_car.class_type
.col-md-3
  - driver = @race_car.driver
  %p
    = image_tag driver.profile_picture.url(:thumb)
  %p
    %b Navn:
    = link_to driver.full_name, driver_path(driver)
  %p
    %b Land:
    = driver.country
.col-md-3
  %p
    %b Mærke:
    = @race_car.make
  %p
    %b Model/variant:
    = @race_car.model
  %p
    %b årgang:
    = @race_car.year
.col-md-3
  %p
    %b Motorstørrelse (Ccm):
    = @race_car.ccm
  %p
    %b Hestekræfter:
    = @race_car.hp
  %p
    %b 0-100 (sek):
    = @race_car.acceleration
  %p
    %b Beskrivelse:
    = @race_car.description

= link_to 'Rediger', edit_race_car_path(@race_car), class: 'btn btn-default'
\|
= link_to 'Tilbage', race_cars_path, class: 'btn btn-default'
