= simple_form_for @driver, :html => { :multipart => true } do |f|
  - if @driver.errors.any?
    #error_explanation
      %h2= "#{pluralize(@driver.errors.count, "error")} prohibited this driver from being saved:"
      %ul
        - @driver.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.input :full_name
  %br
  .field
    = f.input :country, collection: Driver.order(:country).pluck(:country).uniq
  %br
  .field
    = f.input :race_car_id, collection: RaceCar.order(:id).pluck(:id)
  %br
  .field
    = f.input :profile_picture, :required => false, :as => :file, label: "Billede af kører"
  %br
  .actions
    = f.submit 'Gem', class: 'btn btn-primary'
