%h1 Listing drivers

%table
  %thead
    %tr
      %th Full name
      %th Country
      %th
      %th
      %th

  %tbody
    - @drivers.each do |driver|
      %tr
        %td= driver.full_name
        %td= driver.country
        %td= link_to 'Show', driver
        %td= link_to 'Edit', edit_driver_path(driver)
        %td= link_to 'Destroy', driver, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Driver', new_driver_path
